<header>
		<nav class="header">
			<a href="#" class="nav-item logo">LOGO</a>
			<ul class="header__item">
				<li class="header__list-item"><a href="/" class="nav-item <%= path=='/' ? 'active' : '' %>">Homepage</a></li>
				<li class="header__list-item"><a href="/cart" class="nav-item <%= path=='/cart' ? 'active' : '' %>">Cart</a></li>
				<li class="header__list-item"><a href="/products" class="nav-item <%= path=='/products' ? 'active' : '' %>">Products</a></li>
				<li class="header__list-item"><a href="/admin/products" class="nav-item <%= path=='admin/products' ? 'active' : '' %>">Products Admin</a></li>
			</ul>
		</nav>
	</header>