<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MY SHOP</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
	<header>
		<nav class="header">
			<a href="#" class="nav-item logo">LOGO</a>
			<ul class="header__item">
				<li class="header__list-item"><a href="/" class="nav-item">Homepage</a></li>
				<li class="header__list-item"><a href="admin/products" class="nav-item">Products</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<h1>HOMEPAGE</h1>

	</main>
</body>
</html>